/* Estilos generales para el tablero y los botones */
.board {
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: #3498db; /* Cambia este color al que desees */
    padding: 20px;
}

.hand {
    display: flex;
    justify-content: center;
    margin-top: 20px;
}

.card {
    margin: 0 5px;
    width: 100px;
    height: 150px;
    background-size: cover;
    background-position: center;
    background-color: #01080c;
    cursor: pointer;
}

.card:hover {
    background-color: #ddd;
}

.fixed-cards {
    display: flex;
    justify-content: center;
    margin-top: 20px;
}

.fixed-cards .card {
    border: 2px solid #333;
    background-color: #f9f9f9;
    padding: 10px 20px;
    font-size: 20px;
    margin: 0 5px;
}

/* Estilos para la pila de cartas */
.pile-card {
    background-color: lightgray;
    width: 60px;
    height: 90px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 20px;
}

/* Resto de estilos (si los tienes) */
